## Машинное обучение в бизнесе
### Урок 6. Задача look-alike

## 1. Взять любой набор данных для бинарной классификации (можно скачать один из модельных с https://archive.ics.uci.edu/ml/datasets.php)

Давайте поработаем с набором данных с платформы kaggle https://www.kaggle.com/adammaus/predicting-churn-for-bank-customers по оттоку клиентов банка

In [34]:
import pandas as pd
import numpy as np
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import itertools

import matplotlib.pyplot as plt

%matplotlib inline

In [35]:
df = pd.read_csv("churn_data.csv")
df.head(3)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1

In [36]:
df['Exited'].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

Давайте построим модель. Сразу же будем работать с использованием sklearn pipeline

In [37]:
#разделим данные на train/test
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns=['Exited']), df['Exited'], random_state=0)

- Категориальные признаки закодируем с помощью OneHotEncoding
- Вещественные оставим пока как есть

In [38]:
#соберем наш простой pipeline, но нам понадобится написать класс для выбора нужного поля
class FeatureSelector(BaseEstimator, TransformerMixin):
    def __init__(self, column):
        self.column = column

    def fit(self, X, y=None):
        return self

    def transform(self, X, y=None):
        return X[self.column]
    

class NumberSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on numeric columns in the data
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[[self.key]]
    
    
class OHEEncoder(BaseEstimator, TransformerMixin):
    def __init__(self, key):
        self.key = key
        self.columns = []

    def fit(self, X, y=None):
        self.columns = [col for col in pd.get_dummies(X, prefix=self.key).columns]
        return self

    def transform(self, X):
        X = pd.get_dummies(X, prefix=self.key)
        test_columns = [col for col in X.columns]
        
        for col_ in self.columns:
            if col_ not in test_columns:
                X[col_] = 0
        return X[self.columns]

In [39]:
df.head(3)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1

Зададим списки признаков

In [40]:
categorical_columns = ['Geography', 'Gender', 'Tenure', 'HasCrCard', 'IsActiveMember']
continuous_columns = ['CreditScore', 'Age', 'Balance', 'NumOfProducts', 'EstimatedSalary']

In [41]:
from sklearn.pipeline import Pipeline
from sklearn.pipeline import FeatureUnion

Теперь нам нужно под каждый признак создать трансформер и объединить их в список.

In [42]:
final_transformers = list()

for cat_col in categorical_columns:
    cat_transformer = Pipeline([
                ('selector', FeatureSelector(column=cat_col)),
                ('ohe', OHEEncoder(key=cat_col))
            ])
    
    final_transformers.append((cat_col, cat_transformer))
    
for cont_col in continuous_columns:
    cont_transformer = Pipeline([
                ('selector', NumberSelector(key=cont_col))
            ])
    
    final_transformers.append((cont_col, cont_transformer))

Объединим все это в единый пайплайн

In [43]:
feats = FeatureUnion(final_transformers)

Теперь у нас есть пайплайн, который готовит признаки для моделирования.

Добавим модель

In [57]:
from sklearn.ensemble import GradientBoostingClassifier

pipeline = Pipeline([
    ('features', feats),
    ('classifier', GradientBoostingClassifier(random_state=42)),
])

## 2. Обучить любой классификатор (какой вам нравится)

In [58]:
# обучим наш пайплайн
pipeline.fit(X_train, y_train)

Pipeline(steps=[('features',
                 FeatureUnion(transformer_list=[('Geography',
                                                 Pipeline(steps=[('selector',
                                                                  FeatureSelector(column='Geography')),
                                                                 ('ohe',
                                                                  OHEEncoder(key='Geography'))])),
                                                ('Gender',
                                                 Pipeline(steps=[('selector',
                                                                  FeatureSelector(column='Gender')),
                                                                 ('ohe',
                                                                  OHEEncoder(key='Gender'))])),
                                                ('Tenure',
                                                 Pipeline(steps=[('selector',
                                                                  FeatureSelector(column='Tenu...
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='Age'))])),
                                                ('Balance',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='Balance'))])),
                                                ('NumOfProducts',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='NumOfProducts'))])),
                                                ('EstimatedSalary',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='EstimatedSalary'))]))])),
                ('classifier', GradientBoostingClassifier(random_state=42))])

In [59]:
# наши прогнозы для тестовой выборки
preds = pipeline.predict_proba(X_test)[:, 1]
preds[:10]

array([0.28502357, 0.22926788, 0.1982218 , 0.08930468, 0.04798288,
       0.80662596, 0.03834531, 0.05054472, 0.31038377, 0.73455865])

Также нам нужно от вероятностей перейти к меткам классов. Для этого нужно подобрать порог, после которого мы считаем, что объект можно отнести к классу 1 (если вероятность больше порога - размечаем объект как класс 1, если нет - класс 0)

In [60]:
from sklearn.metrics import f1_score, roc_auc_score, precision_score, classification_report, precision_recall_curve, confusion_matrix

In [61]:
metrics_df = pd.DataFrame(columns=['model', 'thresh', 'F-Score', 'Precision', 'Recall', 'ROC AUC'])
metrics_df

Empty DataFrame
Columns: [model, thresh, F-Score, Precision, Recall, ROC AUC]
Index: []

In [62]:
precision, recall, thresholds = precision_recall_curve(y_test, preds)

fscore = (2 * precision * recall) / (precision + recall)
# locate the index of the largest f score
ix = np.argmax(fscore)
print(f'Best Threshold={thresholds[ix]}, F-Score={fscore[ix]:.3f}, Precision={precision[ix]:.3f}, Recall={recall[ix]:.3f}')

Best Threshold=0.4085078904556646, F-Score=0.646, Precision=0.704, Recall=0.597

In [63]:
roc_auc = roc_auc_score(y_test, preds)
roc_auc

0.8757458662211781

In [64]:
metrics_df = metrics_df.append({
    'model': 'supervised',
    'thresh': thresholds[ix],
    'F-Score': fscore[ix],
    'Precision': precision[ix],
    'Recall': recall[ix],
    'ROC AUC': roc_auc
}, ignore_index=True)

metrics_df

C:\Temp\ipykernel_14672\3491017330.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metrics_df = metrics_df.append({

        model    thresh   F-Score  Precision   Recall   ROC AUC
0  supervised  0.408508  0.646121   0.703704  0.59725  0.875746

## 3. Разделить ваш набор данных на два множества: P (positives) и U (unlabeled). Причем брать нужно не все положительные примеры (класс 1), а только лишь часть

In [65]:
mod_data = X_train.copy()
mod_data['Exited'] = y_train
mod_data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
2967,2968,15595324,Daniels,579,Germany,Female,39,5,117833.30,3,0,0,5831.00,1
700,701,15803457,Hao,750,France,Female,32,5,0.00,2,1,0,95611.47,0
3481,3482,15644686,Kennedy,729,Spain,Female,34,9,53299.96,2,1,1,42855.97,0
1621,1622,15777797,Kovalyova,689,Spain,Male,38,5,75075.14,1,1,1,8651.92,1
800,801,15747542,Perez,605,France,Male,52,7,0.00,2,1,1,173952.50,0

In [66]:
# получите индексы образцов с положительными результатами
pos_ind = mod_data[mod_data['Exited'] == 1].sample(frac=1, random_state=42).index

# оставьте отмеченными только 25% положительных результатов
perc = 0.25
pos_sample_len = int(np.ceil(perc * len(pos_ind)))

print(f'Используя {pos_sample_len}/{len(pos_ind)} в качестве положительных значений и отменяя маркировку остальных')
pos_sample = pos_ind[:pos_sample_len]

Используя 382/1528 в качестве положительных значений и отменяя маркировку остальных

Создаем столбец для новой целевой переменной, где у нас два класса - P (1) и U (-1)

In [67]:
mod_data['class_test'] = -1
mod_data.loc[pos_sample, 'class_test'] = 1
print('target variable:\n', mod_data.iloc[:,-1].value_counts())

target variable:
 -1    7118
 1     382
Name: class_test, dtype: int64

In [68]:
mod_data.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,class_test
2967,2968,15595324,Daniels,579,Germany,Female,39,5,117833.30,3,0,0,5831.00,1,-1
700,701,15803457,Hao,750,France,Female,32,5,0.00,2,1,0,95611.47,0,-1
3481,3482,15644686,Kennedy,729,Spain,Female,34,9,53299.96,2,1,1,42855.97,0,-1
1621,1622,15777797,Kovalyova,689,Spain,Male,38,5,75075.14,1,1,1,8651.92,1,-1
800,801,15747542,Perez,605,France,Male,52,7,0.00,2,1,1,173952.50,0,-1

## 4. Применить random negative sampling для построения классификатора в новых условиях

In [69]:
mod_data = mod_data.sample(frac=1, random_state=42)


data_N = mod_data[mod_data['class_test'] == -1]
data_P = mod_data[mod_data['class_test'] == 1]

neg_sample = data_N[:data_P.shape[0]]
pos_sample = data_P.copy()

print(neg_sample.shape, pos_sample.shape)
sample_train = pd.concat([neg_sample, pos_sample]).sample(frac=1, random_state=42)

(382, 15) (382, 15)

In [70]:
sample_train

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,class_test
2421,2422,15574842,Lorenzo,653,Germany,Female,25,2,158266.42,3,1,1,199357.24,0,-1
5828,5829,15684419,Wallace,709,Spain,Female,37,8,0.00,3,1,0,71738.56,0,-1
1117,1118,15592583,Colman,731,France,Female,47,1,115414.19,3,0,0,191734.67,1,1
6303,6304,15591169,Hawes,788,Germany,Female,49,4,137455.99,1,1,0,184178.29,1,-1
7645,7646,15698522,Thomas,660,Germany,Male,39,9,134599.33,2,1,0,183095.87,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7042,7043,15617348,Uchechukwu,544,France,Male,44,1,0.00,2,0,0,69244.24,0,-1
9086,9087,15743545,Nworie,647,Spain,Female,29,2,0.00,2,1,0,179032.68,0,-1
6516,6517,15775797,Esposito,607,Spain,Female,32,7,0.00,3,0,1,10674.62,0,-1
7483,7484,15784526,Chen,616,France,Male,44,5,102016.38,1,0,1,178235.37,1,1
6367,6368,15568742,Parkes,536,France,Female,41,9,0.00,1,1,0,121299.14,0,-1

In [71]:
sample_train.loc[sample_train['class_test'] == -1, 'class_test'] = 0

pipeline = Pipeline([
    ('features', feats),
    ('classifier', GradientBoostingClassifier(random_state=42)),
])


pipeline.fit(sample_train.drop(columns=['class_test', 'Exited']), 
             sample_train['class_test'])

Pipeline(steps=[('features',
                 FeatureUnion(transformer_list=[('Geography',
                                                 Pipeline(steps=[('selector',
                                                                  FeatureSelector(column='Geography')),
                                                                 ('ohe',
                                                                  OHEEncoder(key='Geography'))])),
                                                ('Gender',
                                                 Pipeline(steps=[('selector',
                                                                  FeatureSelector(column='Gender')),
                                                                 ('ohe',
                                                                  OHEEncoder(key='Gender'))])),
                                                ('Tenure',
                                                 Pipeline(steps=[('selector',
                                                                  FeatureSelector(column='Tenu...
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='Age'))])),
                                                ('Balance',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='Balance'))])),
                                                ('NumOfProducts',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='NumOfProducts'))])),
                                                ('EstimatedSalary',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='EstimatedSalary'))]))])),
                ('classifier', GradientBoostingClassifier(random_state=42))])

In [72]:
# наши прогнозы для тестовой выборки 
# Они изменились
preds = pipeline.predict_proba(X_test)[:, 1]
preds[:10]

array([0.41955534, 0.59754878, 0.47046677, 0.44908527, 0.27769944,
       0.59159156, 0.0910514 , 0.10686754, 0.55656925, 0.75986811])

In [73]:
precision, recall, thresholds = precision_recall_curve(y_test, preds)

fscore = (2 * precision * recall) / (precision + recall)
# locate the index of the largest f score
ix = np.argmax(fscore)
print(f'Best Threshold={thresholds[ix]}, F-Score={fscore[ix]:.3f}, Precision={precision[ix]:.3f}, Recall={recall[ix]:.3f}')

Best Threshold=0.5663001192007205, F-Score=0.570, Precision=0.496, Recall=0.668

In [74]:
roc_auc = roc_auc_score(y_test, preds)
roc_auc

0.816119985909086

In [75]:
metrics_df = metrics_df.append({
    'model': 'pu-learning',
    'thresh': thresholds[ix],
    'F-Score': fscore[ix],
    'Precision': precision[ix],
    'Recall': recall[ix],
    'ROC AUC': roc_auc
}, ignore_index=True)

C:\Temp\ipykernel_14672\1724415042.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metrics_df = metrics_df.append({

## 5. Сравнить качество с решением из пункта 3 (построить отчет - таблицу метрик)

In [76]:
metrics_df

         model    thresh   F-Score  Precision    Recall   ROC AUC
0   supervised  0.408508  0.646121   0.703704  0.597250  0.875746
1  pu-learning  0.566300  0.569514   0.496350  0.667976  0.816120

## 6. *Поэкспериментировать с долей P на шаге 5 (как будет меняться качество модели при уменьшении/увеличении размера P)

In [77]:
from tqdm import tqdm

metrics_df = pd.DataFrame(columns=['frac', 'thresh', 'F-Score', 'Precision', 'Recall', 'ROC AUC'])


for frac in tqdm(np.linspace(0.1, 1, 9)):
    mod_data = X_train.copy()
    mod_data['Exited'] = y_train
    mod_data.head()

    # получите индексы образцов с положительными результатами
    pos_ind = mod_data[mod_data['Exited'] == 1].sample(frac=1, random_state=42).index

    pos_sample_len = int(np.ceil(frac * len(pos_ind)))
    pos_sample = pos_ind[:pos_sample_len]
    
    mod_data['class_test'] = -1
    mod_data.loc[pos_sample,'class_test'] = 1
    
    mod_data = mod_data.sample(frac=1, random_state=42)


    data_N = mod_data[mod_data['class_test'] == -1]
    data_P = mod_data[mod_data['class_test'] == 1]

    neg_sample = data_N[:data_P.shape[0]]
    pos_sample = data_P.copy()

    sample_train = pd.concat([neg_sample, pos_sample]).sample(frac=1, random_state=42)

    sample_train.loc[sample_train['class_test'] == -1, 'class_test'] = 0

    pipeline = Pipeline([
        ('features', feats),
        ('classifier', GradientBoostingClassifier(random_state=42)),
    ])

    pipeline.fit(sample_train.drop(columns=['class_test','Exited']), 
                 sample_train['class_test'])
    
    # наши прогнозы для тестовой выборки
    preds = pipeline.predict_proba(X_test)[:, 1]
    preds[:10]

    precision, recall, thresholds = precision_recall_curve(y_test, preds)

    fscore = (2 * precision * recall) / (precision + recall)
    # locate the index of the largest f score
    ix = np.argmax(fscore)
    roc_auc = roc_auc_score(y_test, preds)

    metrics_df = metrics_df.append({
        'frac': frac,
        'thresh': thresholds[ix],
        'F-Score': fscore[ix],
        'Precision': precision[ix],
        'Recall': recall[ix],
        'ROC AUC': roc_auc
    }, ignore_index=True)

metrics_df

  0%|                                                                                            | 0/9 [00:00<?, ?it/s]C:\Temp\ipykernel_14672\3277191900.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metrics_df = metrics_df.append({
C:\Temp\ipykernel_14672\3277191900.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metrics_df = metrics_df.append({
 22%|██████████████████▋                                                                 | 2/9 [00:00<00:00,  9.71it/s]C:\Temp\ipykernel_14672\3277191900.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metrics_df = metrics_df.append({
 33%|████████████████████████████                                                        | 3/9 [00:00<00:00,  8.10it/s]C:\Temp\ipykernel_14672\3277191900.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metrics_df = metrics_df.append({
 44%|█████████████████████████████████████▎                                              | 4/9 [00:00<00:00,  6.81it/s]C:\Temp\ipykernel_14672\3277191900.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metrics_df = metrics_df.append({
 56%|██████████████████████████████████████████████▋                                     | 5/9 [00:00<00:00,  5.79it/s]C:\Temp\ipykernel_14672\3277191900.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metrics_df = metrics_df.append({
 67%|████████████████████████████████████████████████████████                            | 6/9 [00:01<00:00,  5.01it/s]C:\Temp\ipykernel_14672\3277191900.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metrics_df = metrics_df.append({
 78%|█████████████████████████████████████████████████████████████████▎                  | 7/9 [00:01<00:00,  4.38it/s]C:\Temp\ipykernel_14672\3277191900.py:47: RuntimeWarning: invalid value encountered in true_divide
  fscore = (2 * precision * recall) / (precision + recall)
C:\Temp\ipykernel_14672\3277191900.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metrics_df = metrics_df.append({
 89%|██████████████████████████████████████████████████████████████████████████▋         | 8/9 [00:01<00:00,  3.87it/s]C:\Temp\ipykernel_14672\3277191900.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metrics_df = metrics_df.append({
100%|████████████████████████████████████████████████████████████████████████████████████| 9/9 [00:01<00:00,  4.51it/s]

     frac    thresh   F-Score  Precision    Recall   ROC AUC
0  0.1000  0.588951  0.496013   0.417450  0.611002  0.760314
1  0.2125  0.544988  0.552652   0.462865  0.685658  0.810346
2  0.3250  0.628876  0.583643   0.553792  0.616896  0.829844
3  0.4375  0.621390  0.614525   0.584071  0.648330  0.850641
4  0.5500  0.614775  0.615385   0.570470  0.667976  0.858158
5  0.6625  0.631758  0.621771   0.586087  0.662083  0.862619
6  0.7750  0.633275  0.636448   0.601399  0.675835  0.866452
7  0.8875  0.972526       NaN   0.000000  0.000000  0.874267
8  1.0000  0.717839  0.645557   0.672340  0.620825  0.874537